table {
    background: #505050;
    -webkit-box-shadow: -5px 5px 5px rgba(0,0,0,0.8);
    -moz-box-shadow: -5px 5px 5px rgba(0,0,0,0.8);
    box-shadow: -5px 5px 5px rgba(0,0,0,0.8);


    border: 3px solid #BC0000;
}

.coolPattern {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #111 10px,
    #444 10px,
    #555 20px
  );
}

.selfPattern {
  background: repeating-linear-gradient(
    -55deg,
    #111,
    #C00 10px,
    #B00 10px,
    #D00 20px
  );
}

.hideMe {
	display: none;
}

.header {
    color: white;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
}

.mySched {
	color: white;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
}

.yo1 {	
	width: 75%;
	margin: auto;
}

th {

}

td:hover {
    background: #BC0000;
}

.goodFont {
	font-family: 'Lato', sans-serif;
}

.one {
    background: #C0C0C0;
}

.two {
    background: #B8B8B8;
}

.three {
    background: #B0B0B0;
}

.four {
    background: #A8A8A8;
}

.five {
    background: #A0A0A0;
}

.six {
    background: #989898;
}

.seven {
    background: #909090;
}

.eight {
    background: #888888;
}

.nine {
    background: #808080;
}

.ten {
    background: #787878;
}

.eleven {
    background: #707070;
}

.twelve {
    background: #686868;
}

.thirteen {
    background: #606060;
}

.fourteen {
    background: #585858;
}