.module {
  background: white;
  border: 1px solid #ccc;
  margin: 3%;
  > h2 {
    padding: 1rem;
    margin: 0 0 0.5rem 0;
  }
  > p {
    padding: 0 1rem;
  }
}

.coolPattern {
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.parallax-window {
    min-height: 1500px;
    background: transparent;
}

.text {
    color: white;
    font-size: 64px;
    font-family: 'Lato', sans-serif;
}

.back {
    background: url(backgroundImage.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.boobs {
	background: url(backgroundImage.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.boxForPawel {
	
	width: 50%;
	background: #212121;
	top: 50%;
	left: 50%;
	margin: auto;
	
	-webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    -moz-box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    
    border-radius: 10px;
}

.nameBox {
	width: 75%;
	background: #212121;
	top: 50%;
	left: 50%;
	margin: auto;
	
	-webkit-box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    -moz-box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    box-shadow: -3px 3px 3px rgba(0,0,0,0.8);
    
    border-radius: 10px;
}

html, body {
	width: 100%;
}
